/* Styling for the App component */

.App {
  font-family: 'Arial', sans-serif;
  text-align: center;
  padding: 20px;
  background-color: #f3f3f3;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #444;
  margin-bottom: 20px;
  font-size: 2em;
  text-align: center;
}

